button{
  height:20px;
  width: 70px;
  border-radius: 3px;
  margin-bottom:50px;
}
p{
  font-size:10px;
  display:inline-block;
  margin: 0px 0px;
}
.bombsRemaining{
  text-align:center;
  line-height:25px;
}
.bombsRemaining span{
  display:inline-block;
  height:25px;
  width: 25px;
  border:1px solid black;
  border-radius:2px;
}
.headingText{
  width:40%;
  height:50px;
}
.instructions{
  text-align:center;
  width: 100%;
  font-size:16px;
  margin-bottom: 50px;
}
p.instructions span{
  font-weight:bold;
  font-size:16px;
}
.board{
  width:80%;
}
.clock{
  text-align:center;
  /*width:50px;*/
  width:200px;
  height:30px;
  background-color:black;
  color:white;
  margin-bottom:20px;
  border-style:inset;
}
.clock p{
  font-size:18px;
  line-height:30px;
}
.container img{
  height:50px;
  width: 200px;
  display:block;
  margin-bottom:50px;
  margin-top:50px;
}
.centerBlock{
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}
.row{
  display:block;
  height:30px;
  width:370px;
}
/* MODAL */
.modal{
  z-index:10;
  width:250px;
  border-radius: 5px;
  border:1px solid black;
  position:absolute;
  background-color:white;
  text-align:center;
}
p.modalText{
  margin-top:50px;
  margin-bottom:30px;
  font-size: 16px;
}
.modalLeaderboard{
  list-style-type: none;
  padding-left: 0px;
}
.backgroundOverlay{
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
  z-index: 9;
}
/* TILES */
.tile{
  position:relative;
  display:inline-block;
  height:30px;
  width:30px;
  color: black;
  text-align:center;
  cursor: hand;
  cursor: pointer;
}
.bombed{
  border-style:outset;
  background-color:red;
}
.flagged{
  border-style:outset;
}
.unexplored{
  border-style:outset;
  background-color:gray;
}
.explored{
  border-style:inset;
}
.color0 {
  color: gray;
  background-color:#e5e5e5;
}

.color1 {
  color: blue;
  background-color:#c8c9ff;
}

.color2 {
  color: green;
  background-color:#c8ffcf;
}

.color3 {
  color: red;
  background-color:#ffc4c4;
}

.color4 {
  color: #340f65;
  background-color:#c79dff;
}

.color5 {
  color: #6F1C25;
  background-color:#dd9098;
}

.color6 {
  color: #3bb2af;
  background-color:#d7fffe;
}

.color7 {
  color: black;
  background-color:#787878;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5){
  button{
    height:40px;
    width: 140px;
    margin-bottom:70px;
  }
  .board{
    width:100%;
  }
  p{
    font-size:20px;
  }
  .bombsRemaining{
    line-height:50px;
    font-size: 30px;
  }
  .bombsRemaining span{
    height:50px;
    width: 50px;
  }
  .headingText{
    width:65%;
    height:120px;
  }
  .instructions{
    font-size:30px;
    margin-bottom: 50px;
  }
  p.instructions span{
    font-size:30px;
  }
  .clock{
    width:200px;
    height:80px;
  }
  .clock p{
    font-size:30px;
    line-height:80px;
  }
  .container img{
    height:100px;
    width: 400px;
  }
  .row{
    height:80px;
    width:900px;
  }
  /* MODAL */
  .modal{
    width:400px;
    border-radius: 10px;
  }
  p.modalText{
    margin-top:60px;
    margin-bottom:50px;
    font-size: 30px;
  }
  /* TILES */
  .tile{
    height:80px;
    width:80px;
  }
}